body{
	background-image: url(image/dajibg.jpg);
}
a{
	color: red
}
h1,h2,h3{
	color: black;
}
p{
	color:#ff3eff;
}
#content{
	width: 1000px;
	overflow: hidden;
	color: white;
}
a.lj{
	color: white;
}
#content_left{
	width: 900px;
	float: left;
	margin-top: 20px;
}