body{
	background-image: url(image/huamulanbg.jpg);
}
a{
	color: red
}
.orange{
	color:orange;
	font-style:italic;
	font-weight:700;
}
h1,h2,h3{
	color: white;
}
#content{
	width: 1000px;
	overflow: hidden;
	color: white;
}
a.lj{
	color: white;
}
#content_left{
	width: 900px;
	float: left;
	margin-top: 20px;
}