body{
	background-image: url(image/juyoujingbg.jpg);
}
a{
	color: yellow;
}
h1,h2,h3{
	color: #0000CC;
}
p{
	color:#FFAA33;
}
#content{
	width: 1000px;
	overflow: hidden;
	color: white;
}
a.lj{
	color: white;
}
#content_left{
	width: 900px;
	float: left;
	margin-top: 20px;
}