body{
	background-image: url(image/yujibg.jpg);
}
a{
	color:gray;
}
h1,h2,h3{
	color:#00ff00;
}
p{
	color:red;
}
#content{
	width: 1000px;
	overflow: hidden;
	color: white;
}
a.lj{
	color: white;
}
#content_left{
	width: 900px;
	float: left;
	margin-top: 20px;
}